@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.navigation {
    background-color: rgba(0, 0, 0, 0.8);
}

.img-1 {
    background-color: #fbfbfd;
    background-image: url("./assets/1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom;
}

.img-2 {
    background-color: #000;
    background-image: url("./assets/2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom;
}

.img-3 {
    background-color: #fbfbfd;
    background-image: url("./assets/3.jpg");
    background-repeat: no-repeat;
    background-size: 1155px;
    background-position: center bottom;
}

.img-4 {
    background-color: #000;
    background-image: url("./assets/4.jpg");
    background-repeat: no-repeat;
    background-size: 230px;
    background-position: center bottom;
}

.img-5 {
    background-color: #000;
    background-image: url("./assets/5.png");
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center center;
}

.img-6 {
    background-color: #000;
    background-image: url("./assets/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.img-7 {
    background-color: #000;
    background-image: url("./assets/7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.img-8 {
    background-color: #fbfbfd;
    background-image: url("./assets/8.jpg");
    background-repeat: no-repeat;
    background-size: 1154px;
    background-position: bottom center;
}

.img-9 {
    background-color: #fbfbfd;
    background-image: url("./assets/9.png");
    background-repeat: no-repeat;
    background-size: 174px;
    background-position: center center;
}

.img-10 {
    background-color: #000;
    background-image: url("./assets/10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.img-11 {
    background-image: url("./assets/11.png");
    background-repeat: no-repeat;
    background-size: 431px;
    background-position: center center;
}

.img-12 {
    background-color: #fbfbfd;
    background-image: url("./assets/12.jpg");
    background-repeat: no-repeat;
    background-size: 558px;
    background-position: center bottom;
}

.img-13 {
    background-image: url("./assets/13.png");
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center center;
}